@import "../../../colors.scss";

#editorPage #edit {
    height: 100svh;
    width: 100svw;

    max-width: 1600px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 9svh 91svh;
    column-gap: 30px;
    row-gap: 0px;

    #topRow {
        grid-area: 1 / 1 / 2 / 4;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        input,
        button {
            background-color: transparent;
            border: 1px solid $white;
            font-size: 20px;
            color: $white;
        }
        button {
            cursor: pointer;
            border-radius: 20px;
            padding: 15px;
            box-shadow: 0 0 20px shade($white, 50%);

            transition: all 0.2s ease-out;
            &:hover {
                background-color: $white;
                color: $dark;
                box-shadow: 0 0 30px shade($white, 0%);
            }
        }
        input {
            border: none;
            padding: 5px 0;
            border-bottom: 1px solid $white;
            width: 80%;
            &::placeholder {
                color: $grey;
            }
            &#nameInput {
                width: 20%;
            }
            &#descriptionInput {
                width: 70%;
            }
        }
    }

    .page {
    }

    .mediaPoolWrapper {
        grid-area: 2 / 1 / 3 / 2;
        margin: 5px;
    }
    #categoryWrapper {
        grid-area: 2 / 2 / 3 / 4;
        margin: 5px;
        max-width: 1000px;
    }

    .exportPopupContainer {
        position: absolute;
        height: 100svh;
        width: 100svw;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .progressBar {
            width: 30vw;
            background-color: $lighterDark;
            height: 4px;
            margin: 10px 0;
            border-radius: 30px;
            overflow: hidden;
            .progress {
                height: 4px;
                background-color: $white;
            }
        }

        .currentFile {
            color: $white;
        }

        &.hidden {
            opacity: 0;
            z-index: -2;
            backdrop-filter: blur(0px) brightness(1);
        }
        &.visible {
            opacity: 1;
            z-index: 2;
            backdrop-filter: blur(10px) brightness(0.7);
        }
    }
}
