@import "../../../colors.scss";

#onboard {
    .decide {
        height: 85vh;
        width: 90vw;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        gap: 1vw;

        .categoryBrowser {
            height: 100%;
            width: 100%;
            .results {
                height: auto;
                grid-template-columns: 1fr;
                @media only screen and (min-width: 1100px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                @media only screen and (min-width: 1540px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
                @media only screen and (min-width: 1720px) {
                    display: grid;
                    grid-template-columns: repeat(3, 3fr) !important;
                }
                .category {
                    max-height: 150px;
                }
            }
        }

        .actions {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
            > button {
                height: 80%;
                width: 80%;
                background-color: transparent;
                border: 1px solid $grey;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                padding: 10px;
                cursor: pointer;
                transition: transform 0.3s ease-out;
                &:hover {
                    transform: scale(1.02);
                }
                img {
                    height: 60%;
                    filter: invert(0.4);
                }
                p {
                    margin-bottom: 10%;
                    font-size: 20px;
                    color: $white;
                }
            }
        }
    }

    #popupContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100svh;
        width: 100svw;
        backdrop-filter: blur(10px) brightness(0.5);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: opacity 0.2s ease-out;
        &.hidden {
            z-index: -2;
            opacity: 0;
        }
        &.visible {
            z-index: 1;
            opacity: 1;
        }
        #popup {
            background-color: $dark;
            padding: 40px;
            border-radius: 20px;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 3px solid transparent;
            transition: border 0.2s ease-out, color 0.2s ease-out;
            &.drag {
                border-color: $lighterDark;
                color: $dark;
            }

            button.close {
                cursor: pointer;
                position: absolute;
                border: none;
                height: 40px;
                width: 40px;
                top: 20px;
                right: 20px;
                background-color: transparent;
                z-index: 3;
                img {
                    height: 50%;
                    width: 50%;
                }
            }

            label#fileInputLabel {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30vh;
                width: 30vw;
                background-color: transparent;

                input {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
            }
            #textContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h2 {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
                .input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    input {
                        height: 30px;
                        width: 80%;
                        background-color: transparent;
                        border: 2px solid $lighterDark;
                        color: $white;
                        border-radius: 10px;
                        padding: 20px;
                        font-size: 20px;
                        height: 40px;
                    }
                    sub {
                        font-size: x-small;
                        margin-top: -14px;
                    }
                    .select {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.3vw;

                        label {
                            border: 2px solid $lighterDark;
                            border-radius: 5px;
                            // height: 50px;
                            padding: 10px;
                            width: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            cursor: pointer;
                            transition: border 0.2s ease-out;
                            input {
                                display: none;
                            }
                            &:has(input:checked) {
                                border-color: $white;
                            }
                            div.info {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                img {
                                    filter: invert(1);
                                    opacity: 0.8;
                                    height: 30px;
                                }
                                p {
                                }
                            }
                        }
                    }
                    button {
                        font-size: 20px;
                        background-color: transparent;
                        border: 2px solid $lighterDark;
                        color: $white;
                        border-radius: 10px;
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
