@import "../../colors.scss";

#errorPage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  padding: 2rem;

  .noErrors {
    text-align: center;
  }

  .errors {
    width: fit-content;
    max-width: 80%;
    min-width: 400px;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;

    details {
      background: $lighterDark;
      padding: 1rem;
      border-radius: 1rem;
      width: 100%;
      white-space: pre-wrap;
      color: $grey;
      font-size: small;
      font-family: monospace;

      &[open] {
        summary {
          padding-bottom: 0.4rem;
        }
      }
      summary {
        cursor: pointer;
        color: $white;
        font-size: medium;
      }

      button {
        border: 1px solid $grey;
        background: $lighterDark;
        padding: 0.3rem;
        border-radius: 0.4rem;
        color: $white;
        margin-top: 0.4rem;
        cursor: pointer;
        transition: background 0.2s ease-out;
        &:hover {
          background: $grey;
        }
        &:active {
          background: $lighterDark;
        }
      }
    }
  }
}
