@import "../colors.scss";

#gamepadButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        height: 80%;
        filter: $invert;
    }
}

.gamepadOverlayWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    backdrop-filter: blur(10px) brightness(0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .gamepadOverlay {
        padding: 50px;
        min-width: 35vw;
        min-height: 40vh;
        background-color: $dark;
        border-radius: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;

        button.close {
            position: absolute;
            top: 20px;
            right: 20px;
            height: 30px;
            width: 30px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            img {
                height: 80%;
                aspect-ratio: 1;
                filter: $invert;
            }
        }

        h2 {
            margin-bottom: 30px;
        }

        .mapping {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            .team {
                // height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 10px;
                > * {
                    flex: 1;
                }

                button {
                    cursor: pointer;
                    border: 1px solid $grey;
                    background-color: transparent;
                    color: $white;
                    border-radius: 5px;
                    height: 30px;
                    width: 50px;

                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background-color: $lighterDark;
                    }
                    &.active {
                        color: $red;
                        background: $lighterDark;
                    }
                }
            }
        }
    }
}
