@import "../colors.scss";

#header {
    $imgSize: 70px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
    border-radius: 40px;

    max-height: 300px;
    max-width: 400px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    filter: drop-shadow(0 0 80px shade($white, 70%));
    &:not(.expand) {
        // box-shadow: 0 0 40px white;
    }

    .account {
        .loginButtons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            a {
                text-decoration: none;

                .content {
                    color: $dark;
                    background-color: $white;
                    font-weight: 500;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-radius: 7px;
                }
                &:first-child .content {
                    background-color: transparent;
                    border: 1px solid $white;
                    color: $white;
                }
            }
        }
        .profilePic {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: end;
            gap: 10px;
            img {
                transition: border 0.2s ease-in-out;

                height: $imgSize;
                width: $imgSize;
                border-radius: 100%;
                cursor: pointer;
                border: 6px solid $lighterDark;
            }
            .name {
                white-space: nowrap;
                color: $white;
                font-size: large;
                font-weight: 600;
            }
        }
    }
    #headerMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        button.item {
            font-size: medium;
            background-color: transparent;
            border: none;
            height: 40px;
            color: $white;
            cursor: pointer;
            transition: background 0.2s ease-out;
            white-space: nowrap;
            border-radius: 10px;

            &:hover {
                background: $grey;
            }
            a {
                color: $white;
                text-decoration: none;
                padding: 10px;
            }
        }
    }

    &.expand {
        border-radius: 20px;
        background: $dark;
        color: $white;
        div > div.profilePic > img {
            // border-color: ;
        }
    }
    &.small.loggedIn {
        max-height: $imgSize;
        max-width: $imgSize;
        padding: 0;
    }
}
