@import "../colors.scss";

a.homeButton {
    $marg: 30px;
    position: absolute;
    top: $marg;
    left: $marg;
    height: 60px;
    aspect-ratio: 1;
    background: $lighterDark;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 40px -10px shade($white, 70%);
    img {
        height: 70%;
        width: 70%;
    }
}
