@import "../colors.scss";

.timeBarContainer {
    min-width: 50vw;
    width: 100%;
    height: 15px;
    overflow: hidden;
    border-radius: 8px;

    background: $dark;
    .progress {
        height: 100%;
        background: $red;
        transition: width 0.03s liner;
    }
}
