#accountPage {
    &.error {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100svh;
        width: 100svw;
        flex-direction: column;
        a {
            color: var(--light2);
        }
    }

    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    a.home {
        $marg: 30px;
        position: absolute;
        top: $marg;
        left: $marg;
        height: 60px;
        aspect-ratio: 1;
        background: var(--lighterDark);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 10px;
        img {
            height: 70%;
            width: 70%;
        }
    }

    .container {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            h1 {
                font-size: 50px;
            }

            .profilePicture {
                position: relative;
                height: 100px;
                aspect-ratio: 1;
                border: none;
                background-color: transparent;
                border-radius: 100%;
                img.avatar {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
                .overlay {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: opacity 0.2s ease-in-out;
                    background: #000000b7;
                    opacity: 0;
                    cursor: pointer;
                    border-radius: 100%;
                    img {
                        height: 40%;
                        width: 40%;
                        filter: invert(1);
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .provider {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            background: var(--lighterDark);
            padding: 20px;
            border-radius: 20px;
            .logo {
                height: 40px;
                aspect-ratio: 1;
            }

            .info {
                min-width: 300px;
                max-width: 500px;
                position: relative;

                small {
                    font-size: 15px;
                }
                .value {
                    font-size: 20px;
                    .edit {
                        background-color: transparent;
                        border: none;
                        height: 20px;
                        aspect-ratio: 1;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        img {
                            height: 100%;
                            width: 100%;
                            filter: invert(1);
                        }
                    }
                }
            }
        }

        .danger {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            button {
                margin: auto;
                padding: 15px;

                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                background: transparent;
            }
            button.dangerToggle {
                height: 30px;
                width: 150px;
                border: none;
                color: var(--white);
            }
            button.deleteAccount {
                border: 1px solid var(--light1);
                border-radius: 10px;
                color: var(--red);
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: var(--red);
                    color: var(--dark);
                }
            }
        }
    }

    #modal {
        position: fixed;
        height: 100svh;
        width: 100svw;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        .close {
            height: 100px;
            width: 100px;
            position: fixed;
            top: 30px;
            right: 30px;
            background-color: transparent;
            border: none;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: var(--white);
            cursor: pointer;
        }

        &.hidden {
            opacity: 0;
            z-index: -2;
            backdrop-filter: blur(0px) brightness(1);
        }
        &.visible {
            opacity: 1;
            z-index: 2;
            backdrop-filter: blur(10px) brightness(0.7);
        }
        > div {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                margin-bottom: 30px;
            }
            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                label {
                    width: 100%;
                }
                input,
                button {
                    width: 100%;
                    background-color: transparent;
                    color: var(--white);
                    border: 1px solid var(--light1);
                    border-radius: 6px;
                    padding: 8px;
                    font-size: large;
                }
                button {
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
