@import "../../colors.scss";

#viewerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100svh;
    h2 {
    }

    h3 {
    }

    .fields {
        $height: 90vh;
        max-width: 1000px;
        max-height: $height;
        .field {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            min-width: 500px;
            height: calc($height / 5);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .question,
            .answer {
                background: $dark;
                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 100%;
                padding: 10px;
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    img {
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
