@import "../../colors.scss";

#helpPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100swh;
  margin: 30px 10vw;
  padding-top: 40px;

  h1,
  h2,
  h3 {
    margin: 10px 0;
    margin-top: 30px;
  }
  h1 {
    font-size: 40px;
  }

  .content {
    max-width: 1000px;

    a {
      color: $darkBlue;
    }
    blockquote {
      padding: 20px;
      small {
        color: $grey;
        white-space: nowrap;
        display: block;
      }
    }
  }
}
