$dark: #151516;
$lighterDark: #262626;
$grey: #4c4c4c;
$orange: #ff9674;
$darkBlue: #5a41ff;
$lightBlue: #7cfdff;
$green: #7bff9c;
$yellow: #fedc5c;
$white: #fefbf5;
$pink: #ff90e1;
$red: #ff6464;

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
