:root {
  --invert: invert(0);
}

body {
  background: var(--dark);
  color: var(--white);

  &.dark {
    --dark: #151516;
    --lighterDark: #262626;
    --grey: #939393;
    --white: #fefbf5;
    --pink: #f96ad2;
    --red: #ff6464;
    --orange: #ff8b65;
    --yellow: #fedc5c;
    --lightBlue: #00dce1;
    --darkBlue: #5a41ff;
    --green: #7bff9c;
    --invert: invert(1);
    --oneIfDark: 1;
    --oneIfLight: 0;
  }

  &.light,
  &.senior {
    --dark: #ededed;
    --lighterDark: #dadada;
    --grey: #7e7e7e;
    --white: #000000;
    --pink: #ff81dd;
    --red: #ff6464;
    --orange: #ff8d67;
    --yellow: #fedc5c;
    --lightBlue: #00d2d5;
    --darkBlue: #5a41ff;
    --green: #7bff9c;
    --invert: invert(0);
    --oneIfDark: 0;
    --oneIfLight: 1;
  }
}

$dark: var(--dark);
$lighterDark: var(--lighterDark);
$grey: var(--grey);
$orange: var(--orange);
$darkBlue: var(--darkBlue);
$lightBlue: var(--lightBlue);
$green: var(--green);
$yellow: var(--yellow);
$white: var(--white);
$pink: var(--pink);
$red: var(--red);
$invert: var(--invert);
$oneIfDark: var(--oneIfDark);
$oneIfLight: var(--oneIfLight);

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
