@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import "./colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}

/* scrollbars */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #093162 #022249;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
    border-radius: 15px;
}

*::-webkit-scrollbar-track {
    background: $dark;
}

*::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

#root > .loading {
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .loadingSpinner {
        margin-bottom: 60px;
    }
    .text {
        margin-bottom: 10px;
        &:first-of-type {
            font-size: 25px;
            margin-bottom: 20px;
        }
        &.sub {
            color: $grey;
        }
    }
    .info {
        margin-top: 20px;
        font-size: 25px;
    }
}

code {
    background: $grey;
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 5px;
    color: $red;
}
