@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import "./colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}

:root {
    --primary: ;
    --dark: #022249;
    --lighterDark: #0d3b74;
    --orange: #f07c41;
    --darkBlue: #55bdca;
    --green: #95ffff;
    --white: #c7eef5;
    --pink: #ff3333;

    --dark: #000000;

    --lighterDark: #323232;

    --orange: #ff906e;

    --darkBlue: #1e05c8;

    --lightBlue: #50cfd2;

    --green: #72c38e;

    --yellow: #fedc5c;

    --white: #fefbf5;

    --pink: #e254d6;
}

body {
    background: $dark;
    color: $white;
}

/* scrollbars */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #093162 #022249;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: $dark;
}

*::-webkit-scrollbar-thumb {
    background-color: $lighterDark;
    border-radius: 10px;
    border: 0px solid #ffffff;
}
