@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import "./colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}

/* scrollbars */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #093162 #022249;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: $dark;
}

*::-webkit-scrollbar-thumb {
    background-color: $lighterDark;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

#root > .loading {
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

code {
    background: $grey;
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 5px;
    color: $red;
}
