@import "../../colors.scss";

#gamePage {
    height: 100svh;
    width: 100svw;

    display: flex;

    #teams,
    #categories {
        margin: 20px;
        padding: 10px;
    }

    #teams {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 20svw;
        display: flex;
        gap: 30px;

        .team {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            background: $dark;
            height: 30vh;
            max-height: 30vh;
            width: 100%;
            border-radius: 20px;
            padding: 5px;
            h2 {
                font-size: 17px;
            }
            &:not(.buzzered) {
                box-shadow: none !important;
                z-index: 0;
            }

            input {
                height: 30px;
                width: 70px;
                font-size: 20px;
                background: transparent;
                border: 1px solid transparent;
                border-bottom-color: $lighterDark;
                color: $white;
                text-align: center;
                // hide arrows
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &.buzzered {
            }
        }
    }

    #categories {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 90svw;
        position: relative;

        display: grid;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(1fr, 30);
        grid-auto-flow: column;

        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }

        .fieldContainer {
            height: 100%;
            .field {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $white;
                margin: 0;
                font-size: 25px;
                cursor: pointer;
                &:has(.description),
                &:has(.question),
                &:has(.answer),
                &.answered {
                    cursor: default;
                }

                transition: all 0.2s ease-out;
                border-radius: 10px;

                .contentContainer {
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    background: $lighterDark;
                    position: relative;

                    > button.close {
                        opacity: 0;
                        transition: opacity 0.2s linear;

                        position: absolute;
                        right: 20px;
                        top: 20px;
                        z-index: 2;
                        background-color: transparent;
                        border: none;
                        height: 30px;
                        aspect-ratio: 1;
                        cursor: pointer;

                        > img {
                            height: 60%;
                        }
                    }

                    .content {
                        height: 100%;
                        width: 100%;
                        transition: all 0.2s ease-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        > div {
                            position: absolute;

                            transition: opacity 0.3s linear;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .points {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .description {
                            padding: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            .timeBarContainer {
                                margin-top: 5px;
                            }
                        }
                        .question,
                        .answer {
                            height: 100%;
                            width: 100%;
                            padding: 4%;
                            > button.reveal {
                                position: absolute;
                                bottom: 20px;
                                font-size: 20px;
                                border: 1px solid $white;
                                background: transparent;
                                color: $white;
                                border-radius: 10px;
                                padding: 10px;
                                cursor: pointer;
                                transition: all 0.2s ease-in-out;
                                &:hover {
                                    box-shadow: 0 0 20px -3px $white;
                                    background: $white;
                                    color: $dark;
                                }
                            }
                            &:has(> .videoPlayer) {
                                padding: 50px;
                            }
                            &:has(> .videoPlayer) {
                                padding: 50px;
                            }
                            .image {
                                height: 80%;
                                > img {
                                    height: 100%;
                                    max-width: 100%;
                                    border-radius: 10px;
                                }
                            }
                            .videoPlayer {
                                height: 80%;
                                width: 80%;
                                &.playing {
                                    animation-name: none;
                                }
                                .videoContainer {
                                    width: 100%;
                                    height: 100%;
                                    video {
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                &.answered {
                    color: $grey;
                }
                &:not(.selected) {
                    border-color: $lighterDark;
                }

                &.selected {
                    animation: spinningBackground 3s linear infinite;
                    padding: 2px;
                    border: none;
                    box-shadow: 0 0 50px shade($white, 90%);
                    > div {
                    }
                    .contentContainer {
                        > button.close {
                            opacity: 1;
                        }
                        .content {
                            .answer {
                                height: 100%;
                                width: 100%;
                                position: relative;
                                .points {
                                    position: absolute;
                                    bottom: 30px;
                                    transition: bottom 0.2s ease-in-out;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    flex-wrap: nowrap;
                                    gap: 10px;

                                    button,
                                    input {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        height: 40px;
                                        background-color: transparent;
                                        border: 1px solid $white;
                                        border-radius: 5px;
                                        padding: 10px;
                                        color: $white;
                                        cursor: pointer;
                                        font-size: 24px;
                                        img {
                                            height: 100%;
                                            filter: invert(1);
                                        }
                                        &[type="number"] {
                                            width: 70px;
                                            &::-webkit-inner-spin-button,
                                            &::-webkit-outer-spin-button {
                                                -webkit-appearance: none;
                                                margin: 0;
                                            }
                                            cursor: text;
                                        }
                                    }

                                    > div {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 10px;
                                    }

                                    .normal {
                                        button {
                                            &:nth-child(1) {
                                                color: $red;
                                                transition: all 0.2s linear;
                                                &:hover {
                                                    color: $white;
                                                    background: $red;
                                                }
                                            }
                                            &:nth-child(3) {
                                                color: $green;
                                                transition: all 0.2s linear;
                                                &:hover {
                                                    color: $white;
                                                    background: $green;
                                                }
                                            }
                                        }
                                    }
                                    .custom {
                                        max-height: 40px;
                                        transition: max-height 0.2s ease-in-out;
                                        overflow: hidden;
                                        &.hidden {
                                            max-height: 0px;
                                        }
                                        button {
                                            transition: all 0.2s linear;
                                            &:nth-child(1) {
                                                color: $red;
                                                &:hover {
                                                    color: $white;
                                                    background: $red;
                                                }
                                            }
                                            &:nth-child(3) {
                                                &:hover {
                                                    background: $yellow;
                                                }
                                            }
                                            &:nth-child(4) {
                                                color: $green;
                                                &:hover {
                                                    color: $white;
                                                    background: $green;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    background: conic-gradient(
                        from var(--gradient-angle),
                        $lighterDark,
                        $lighterDark,
                        $white
                    );
                    animation: rotation 4s linear infinite;
                    z-index: 2;
                    &.transitioned {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
