#loginPage {
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        margin-top: 20px;
        min-width: 200px;
        max-width: 300px;

        h1 {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            label {
                width: 100%;
                input {
                    width: 100%;

                    background-color: transparent;
                    color: var(--white);
                    border: 1px solid var(--light1);
                    border-radius: 6px;
                    padding: 8px;
                    font-size: large;
                }
            }
        }
        button {
            width: 100%;
            background-color: transparent;
            color: var(--white);
            border: 1px solid var(--light1);
            border-radius: 6px;
            padding: 8px;
            font-size: large;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &.submit {
                margin-bottom: 20px;
                &:hover {
                    background-color: var(--light1);
                    color: var(--dark);
                }
            }
            &.switchMode {
                font-size: medium;
                border: none;
            }
        }
        .authProviders {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
