@import "../../../colors.scss";

#editorPage #edit {
    height: 100svh;
    width: 90svw;

    max-width: 1600px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 9svh 91svh;
    column-gap: 30px;
    row-gap: 0px;

    #topRow {
        grid-area: 1 / 1 / 2 / 4;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        gap: 15px;
        input,
        button {
            background-color: transparent;
            border: 1px solid $white;
            font-size: 20px;
            color: $white;
        }
        button {
            height: 50px;
            cursor: pointer;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 0 20px shade($white, 50%);
            white-space: nowrap;

            transition: all 0.2s ease-out;
            &:hover {
                background-color: $white;
                color: $dark;
                box-shadow: 0 0 30px shade($white, 0%);
            }
            &.test {
                aspect-ratio: 1;
                img {
                    transition: filter 0.2s ease-in-out;
                    filter: invert(1);
                }
                &:hover img {
                    filter: invert(0);
                }
            }
        }
        input {
            border: none;
            padding: 5px 0;
            border-bottom: 1px solid $white;
            width: 80%;
            &::placeholder {
                color: $grey;
            }
            &#nameInput {
                width: 20%;
            }
            &#answerTime {
                width: 10%;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        .description {
            width: 50%;
            position: relative;
            display: flex;
            input {
                width: 100%;
            }
            label.image {
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                padding: 0;
                height: 40px;
                aspect-ratio: 1;
                box-shadow: none;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transition: filter 0.2s ease-out;
                    height: 70%;
                    filter: invert(1);
                }
            }
            > button {
                border: none;
                border-bottom: 1px solid $white;
                border-radius: 0;
                box-shadow: none;
                height: 35px;
                width: 100%;
                padding: 0;
                &:hover {
                    background: transparent;
                }
                img {
                    height: 100%;
                }
            }
        }
    }

    .page {
    }

    .mediaPoolWrapper {
        grid-area: 2 / 1 / 3 / 2;
        margin: 5px;
    }
    #categoryWrapper {
        grid-area: 2 / 2 / 3 / 4;
        margin: 5px;
        max-width: 1000px;
        .category {
            .field {
                h3 {
                }
                .content {
                    .question,
                    .answer {
                        .mediaElement {
                            .text,
                            .video,
                            .audio,
                            .image {
                            }
                            > button.remove {
                                height: 25px;
                                aspect-ratio: 1;
                                position: absolute;
                                top: 2px;
                                right: 2px;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                border-radius: 100%;
                                backdrop-filter: blur(14px) brightness(75%);
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    height: 50%;
                                    aspect-ratio: 1;
                                }
                            }
                            .diashow {
                                > .edit {
                                    display: flex;
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    > button {
                                        margin-right: 20px;
                                        margin-left: 10px;
                                        background-color: transparent;
                                        border: none;
                                        width: 30px;
                                        aspect-ratio: 1;
                                        cursor: pointer;

                                        img {
                                            height: 80%;
                                            filter: invert(1);
                                            border-radius: 0px;
                                        }
                                    }
                                    .images {
                                        width: 80%;
                                        position: relative;
                                        overflow: hidden;
                                        .image {
                                            height: 100%;
                                            max-height: 100%;
                                            position: absolute;
                                            border-radius: 5px;
                                            overflow: hidden;
                                            &:not(:first-child) {
                                                box-shadow: -10px 0 50px 0px
                                                    $lighterDark;
                                            }
                                            img {
                                                height: 100%;
                                                width: auto;
                                                max-width: unset;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .exportPopupContainer {
        position: absolute;
        height: 100svh;
        width: 100svw;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .progressBar {
            width: 30vw;
            background-color: $lighterDark;
            height: 4px;
            margin: 10px 0;
            border-radius: 30px;
            overflow: hidden;
            .progress {
                height: 4px;
                background-color: $white;
            }
        }

        .currentFile {
            color: $white;
        }

        &.hidden {
            opacity: 0;
            z-index: -2;
            backdrop-filter: blur(0px) brightness(1);
        }
        &.visible {
            opacity: 1;
            z-index: 2;
            backdrop-filter: blur(10px) brightness(0.7);
        }
    }
}
